# Frontend

VITE_CLERK_PUBLISHABLE_KEY=
VITE_API_URL=

# Backend

CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
CLERK_FRONTEND_API_URL=
CLERK_JWKS_URL=

MONGODB_URI=
DATABASE_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

APP_NAME=
ENVIRONMENT=
DEBUG=
HOST=
PORT=